/* -------------------- IMPORTED FONTS -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/*-------------------- CSS RESET --------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* -------------------- ROOT VARIABLES  -------------------- */
:root {
    font-family: "Habibi", serif;
    font-size: 1.25em;
    --Teal: #4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57;
    --Pink: #D9526F;
    --White: #ffffff;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
body {
    min-width: 400px;
}

@media screen and (min-width: 400px){
    h1, h2 {
        font-family: "Kavoon";
    }
    h3, h4, p {
        font-family: "Inter";
    }
    h1 {
        font-size: 3em;
    }
    nav h2 {
        font-size: 2em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }
    h4 {
        font-size: 1.15em;
    }

    body {
        background-color: var(--Purple);
    }
    header h1 {
        background-color: var(--Lavender);
        color: var(--White);
        border-radius: 0px 0px 30px 30px;
        padding: 1em 0.5em 0.5em 0.5em;
        z-index: 2;
        text-align: center;
    }
    header p {
        background-color: var(--Pink);
        color: var(--White);
        border-radius: 0px 0px 30px 30px;
        padding: 1em 0.5em 1em 0.5em;
        margin-left: 1.5em;
        margin-right: 1.5em;
        z-index: 1;
        text-align: center;
    }
    #smallDescription {
        display: block;
    }
    #largeDescription {
        display: none;
    }
    nav {
        background-color: var(--Yellow);
        border-radius: 0px 0px 30px 30px;
        padding: 0 1em 1em 1em;
        position: fixed;
        top: 0;
        right: 0;
    }
    nav:hover {
        cursor: pointer;
    }
    nav ul {
        display: none;
    }

    #services {
        padding: 1em;
    }
    #services section {
        background-color: var(--White);
        border-radius: 30px;
        margin: 1em;
        padding: 1em;
    }
    #services h4 {
        color: var(--Purple);
        font-weight: bold;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }
    #services h2 {
        color: var(--White);
        padding-bottom: 0.15em;
    }
    #services h3 {
        color: var(--Yellow);
        font-weight: bold;
    }
    #services p {
        line-height: 1.25em;
    }

    #whyChoose {
        background-color: var(--Pink);
    }
    #whyChoose h2 {
        color: var(--White);
        padding: 0.5em;
    }
    #whyChoose ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #whyChoose li {
        text-align: center;
        margin: 0.5em;
        border-radius: 30px;
        padding: 2em;
        font-weight: bold;
    }
    #whyChoose li:nth-child(1) {
        background-color: var(--Teal);
    }
    #whyChoose li:nth-child(2) {
        background-color: var(--Lavender);
    }
    #whyChoose li:nth-child(3) {
        background-color: var(--Yellow);
    }
    #whyChoose li:nth-child(4) {
        background-color: var(--White);
    }

    #pricing h2 {
        color: var(--White);
        padding: 0.5em;
    }
    #pricing h3 {
        color: var(--Yellow);
        font-weight: bold;
        padding: 0.5em;
    }
    #pricing table {
        background-color: var(--Yellow);
        margin-left: auto;
        margin-right: auto;
    }
    #pricing th {
        padding: 0.75em;
        font-weight: bold;
    }
    #pricing td {
        background-color: var(--White);
        padding: 0.5em;
        border: solid;
        border-color: var(--Yellow);
    }

    #firstStep {
        background-color: var(--Pink);
        text-align: center;
        padding-bottom: 1.75em;
    }
    #firstStep h2 {
        color: var(--White);
        padding: 0.5em;
        margin-top: 0.5em;
        text-align: left;
    }
    #firstStep p {
        color: var(--White);
        padding: 0 0.5em 1em 0.5em;
        text-align: left;
        margin-bottom: 1em;
    }
    #firstStep a {
        background-color: var(--White);
        color: black;
        padding: 1em 4em 1em 4em;
        border-radius: 15px;
        box-shadow: 5px 5px 10px black;
        font-weight: bold;
        text-decoration: none;
    }
    #firstStep a:hover {
        box-shadow: 0px 0px 0px black;
    }

    footer {
        background-color: var(--Lavender);
        color: var(--White);
        border-radius: 0 0 30px 30px;
        padding: 2.5em;
        margin-bottom: 1.5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer small {
        font-size: small;
        text-align: center;
    }
    footer small:nth-child(2) {
        text-decoration: underline;
    }
    footer small:nth-child(2):hover {
        cursor: pointer;
    }
}